################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineLearningPlatform/FileContentIndex/8951358f-20f3-4d7c-adcc-1e3ac382b7bb.vsidx
/.vs/OnlineLearningPlatform/FileContentIndex/95b93736-35c6-4fc2-b48e-7b3ce255dc55.vsidx
